FMH_ENV=local
FMH_SHELL_URL=http://localhost:4200
FMH_DASHBOARD_URL=http://localhost:4201
FMH_ACCOUNTS_URL=http://localhost:4202
FMH_PAYMENTS_URL=http://localhost:4203
FMH_INSURANCE_URL=http://localhost:4204
FMH_BFF_URL=http://localhost:4300
